<html
        lang="en"
        layout:decorate="~{layout/base.html}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title th:text="#{auth.login.title}"></title>
</head>
<div layout:fragment="content">
    <div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
        <div class="uk-width-1-1">
            <div class="uk-container">
                <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                    <div class="uk-width-1-1@m">
                        <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                            <h3 class="uk-card-title uk-text-center" th:text="#{auth.login.header}"></h3>
                            <div class="uk-margin">
                                <div id="successful-signup-alert" class="uk-alert-success" uk-alert
                                     style="display: none">
                                    <a class="uk-alert-close" uk-close></a>
                                    <p th:text="#{auth.login.successful_signup_alert}"></p>
                                </div>
                            </div>
                            <div id="alert-container" class="uk-margin" style="display: none">
                                <div class="uk-alert-danger" uk-alert>
                                    <p></p>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                    <input
                                            id="login-email"
                                            class="uk-input uk-form-large"
                                            type="text"
                                            value="admin@admin.com"
                                            th:placeholder="#{auth.login.email_placeholder}"
                                    >
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                    <input
                                            id="login-password"
                                            class="uk-input uk-form-large"
                                            type="password"
                                            value="123456"
                                            th:placeholder="#{auth.login.password_placeholder}"
                                    >
                                </div>
                            </div>
                            <div class="uk-margin">
                                <button
                                        id="login-btn"
                                        class="uk-button uk-button-primary uk-button-large uk-width-1-1"
                                        th:text="#{auth.login.login_button}"
                                >
                                </button>
                            </div>
                            <div class="uk-margin">
                                <a
                                        th:href="@{/oauth2/authorization/google}"
                                        class="uk-button uk-button-default uk-button-small uk-width-1-1"
                                >
                                    <span uk-icon="google"></span>
                                </a>
                            </div>
                            <div class="uk-text-small uk-text-center">
                                <span th:text="#{auth.login.not_registered}"></span>
                                <a th:href="@{/signup}" th:text="#{auth.login.signup}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>