<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Chat</title>

        <link th:href="@{/css/app.min.css}" rel="stylesheet">
    </head>
    <body>
        <div id="app" layout:fragment="content"></div>
    </body>
    <script th:src="@{/js/app.min.js}"></script>
</html>